* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #444;
	background-image: url('./dot_15.png');
	color: #bbb
}

.explorer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-image: url('/assets/dot_20.png'); */
	/* background-image: url('/assets/dot_15.png'); */
	background-repeat: repeat;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.explorer > svg {
	position: absolute;
	z-index: 100;
	top: 30px;
	right: 0;
    /* border: 1px red solid; */
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20px 0 0 20px;
}

#sidebar {
	position: absolute;
	z-index: 1000;
    left: 0;
	width: 100px;
    top: 30px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 20px 20px 0;
}

input[type=button] {
	width: auto;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 12pt;
}

input[type=button],
#sidebar > .btn {
    text-align: center;
    font-family: monospace;
    user-select: none;
    cursor: pointer;
	color: white;
    background-color: #248;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#sidebar > .btn {
	position: relative;
	display: block;
    margin: 10px 0 10px 0;
	width: 90px;
    border-radius: 0 10px 10px 0;
    line-height: 40px;
    height: 40px;
    font-size: 8pt;
}

input[type=button]:hover,
#sidebar > .btn:hover {
	background-color: #d82;
	color: black;
}

#sidebar > .btn.input:hover {
    width: 300px;
	cursor: default;
}

#sidebar > .btn.input {
    overflow: hidden;
    transition: width 0.2s ease-out;
}

#sidebar > .btn.input > div {
	position: absolute;
}

#sidebar > .btn.input > span {
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

#sidebar > .btn.input:hover > span {
	opacity: 0;
}

#sidebar > .btn.input > .input {
	opacity: 0;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: opacity 0.2s ease-out;
}

#sidebar > .btn.input:hover > .input {
	opacity: 1;
}

#sidebar > .btn.input > .input > input[type=text] {
	position: absolute;
    left: 7px;
    top: 11px;
    width: 252px;
    font-size: 8pt;
    border: none;
	outline: none;
    font-family: monospace;
	line-height: 14pt;
	text-transform: uppercase;
}

#sidebar > .btn.input > .input > input[type=button] {
	position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    top: 0;
    width: 30px;
    font-size: 20pt;
    border: none;
    font-family: monospace;
	cursor: pointer;
}

.alert {
	position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.alert.type_info > .header,
.alert.type_info > .footer {
	position: relative;
	color: white;
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}

.alert.type_error > .header,
.alert.type_error > .footer {
	position: relative;
	color: white;
	background: repeating-linear-gradient(
		45deg,
		#bc6060,
		#bc6060 10px,
		#984646 10px,
		#984646 20px
	);
}

.alert > .header {
	font-size: 16pt;
	padding: 10px;
}

.alert > .footer {
	height: 5px;
}

.alert > .content {
	color: white;
	margin: 20px 10px;
	text-align: center;
}

.alert > .content > p {
	margin-bottom: 10px;
}

.address_list {
	/* position: absolute;
	z-index: 100;
	top: 30px;
	left: 120px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px; */
}

.small_list > p {
	color: white;
	font-family: monospace;
	font-size: 8pt;
	cursor: pointer;
}

.small_list > p:hover > * {
	font-weight: bold;
	text-decoration: underline;
}

.small_list > p:hover {
	font-weight: bold;
}

.small_list > p.type_1 {
	color: #d82;
}

.small_list > p > .name {
	padding-left: 10px;
	text-transform: uppercase;
}
.small_list > p > .name.addr {
	opacity: 0.5;
}

.small_list > p > .w {
	padding: 0 10px;
	float: right;
}

#sidebar_wide {
	position: absolute;
	z-index: 1000;
    left: 0;
	width: 250px;
    top: 30px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 20px 20px 0;
}

.button_bar {
	margin: 10px;
	text-align: right;
}

.button_bar > .button,
.button_bar > input[type=button] {
	padding: 5px;
    border-radius: 10px;
    border: 1px orange solid;
    color: orange;
    background-color: transparent;
    transition: 
		background-color 0.2s ease-out,
		color 0.2s ease-out,
		border-color 0.2s ease-out,
		;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 8pt;
}

.button_bar > .button:hover {
	color: black;
	background-color: orange;
	border-color: orange;
}

.button_bar > .button.play {
	text-indent: 4px;
}

.button_bar > .button.pause {
	letter-spacing: -4px;
    text-indent: 3px;
}

.stats {
	font-family: monospace;
    font-size: 8pt;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
    margin: 0 10px 20px;
    padding-bottom: 20px;
}

.stats > p {}

.stats > p > .n {
	color: #888;
}

.stats > p > .v {
	float: right;
	color: white;
}

#addr_info {
	position: absolute;
	z-index: 1000;
    left: 270px;
	width: 250px;
    top: 30px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
	overflow: auto;
    scrollbar-width: none;
}

#addr_info > .container {
	margin: 0 10px 10px 10px;
}

#addr_info .no_address_selected {
	color: rgba(255, 255, 255, 0.1);
    font-weight: 100;
    font-family: monospace;
    font-size: 16pt;
    text-align: center;
    line-height: 42pt;
    margin-top: 200px;
	letter-spacing: 3px;
}

#addr_info a.etherscan {
	padding: 1pt 3pt;
    display: inline-block;
    font-size: 10pt;
    font-family: monospace;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(75, 100, 255);
    color: white;
}

#addr_info h4,
#addr_info h3,
#addr_info h2 {
	font-family: sans-serif;
    margin-top: 10px;
    /* color: #888; */
    font-weight: 100;
}

#addr_info h2.name {
	margin-bottom: 20px;
}

#addr_info p {
	font-family: monospace;
	/* font-size: 12pt; */
	/* color: white; */
	text-wrap: wrap;
	word-wrap: break-word;
}

#addr_info p.addr {
	font-size: 10pt;
}

#addr_info p.balance {
	font-size: 24pt;
	margin: 10pt 10pt 20pt;
}

.type_0 {
	color: white;
}

.type_1 {
	color: orange;
}

svg text {
	cursor: pointer;
}

svg circle {
	cursor: move;
}