$panel-bg-color: rgba(0, 0, 0, 0.2);
$text-color: white;
$text-color-dim: #888;
$margin-base: 20px;
$margin: $margin-base;
$margin-half: calc($margin / 2);
$border-radius: $margin-half;
$btn-text: $text-color;
$btn-text-active: black;
$btn-bg-color: #248;
$btn-bg-color-active: #d82;

// #248
// #d82

@mixin centered-block($width) {
    width: $width;
    margin-left: calc($width / -2);
    position: absolute;
    left: 50%;
}

* {
	padding: 0;
	margin: 0;
    font-size: sans-serif;
    color: $text-color;
}

html {
	background-color: #333;
	background-image: url('./dot_15.png');
	background-repeat: repeat;
}

.alert {
    @include centered-block(400px);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 23px 0px;
    top: 300px;
    background-color: #222;
    color: $text-color;
    font-family: sans-serif;

    .header {
        position: relative;
        font-size: 16pt;
        padding: $margin-half;
    }
    
    .footer {
        position: relative;
        height: 5px;
    }
    
    .content {
        margin: $margin $margin-half;
        text-align: center;
    }
    
    .content > p {
        margin-bottom: $margin-half;
    }
}

.alert.type_info {
    .header,
    .footer {
        background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
        );
    }
}

.alert.type_error {
    .header,
    .footer {
        background: repeating-linear-gradient(
            45deg,
            #bc6060,
            #bc6060 10px,
            #984646 10px,
            #984646 20px
        );
    }
}

input[type=button] {
	width: auto;
    border-radius: $border-radius;
    padding: $margin-half $margin;
    outline: none;
    border: none;
    text-align: center;
    font-size: 12pt;
    font-family: monospace;
    user-select: none;
    cursor: pointer;
    color: $btn-text;
    background-color: $btn-bg-color;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

input[type=button]:hover {
    background-color: $btn-bg-color-active;
	color: $btn-text-active;
}

@mixin panel($br) {
    position: absolute;
	z-index: 1000;
    top: 30px;
    bottom: 30px;
    background-color: $panel-bg-color;
    border-radius: $br;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.2) 100%
    );
}

#sidebar_wide {
    @include panel(0 $border-radius $border-radius 0);
    left: 0;
	width: 250px;
}

.explorer > svg {
    @include panel($border-radius 0 0 $border-radius);
    right: 0;
    z-index: 100;
}

.button_bar {
	margin: 10px;
	text-align: right;

    input[type=button] {
        padding: 5px;
        border-radius: 10px;
        border: 1px orange solid;
        color: orange;
        background-color: transparent;
        transition: 
            background-color 0.2s ease-out,
            color 0.2s ease-out,
            border-color 0.2s ease-out,
            ;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        font-size: 8pt;
    }
    
    input[type=button]:hover {
        color: black;
        background-color: orange;
        border-color: orange;
    }
    
    input[type=button].play {
        text-indent: 4px;
    }
    
    input[type=button].pause {
        letter-spacing: -4px;
        text-indent: 3px;
    }
}


.stats {
	font-family: monospace;
    font-size: 8pt;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
    margin: 0 10px 20px;
    padding-bottom: 20px;

    p > .n {
        color: $text-color-dim;
    }

    p > .v {
        float: right;
        color: $text-color;
    }
}

#addr_info {
    @include panel($border-radius);
    left: 270px;
	width: 250px;
    overflow: auto;
    scrollbar-width: none;
    
    .container {
        margin: $margin-half;
    }

    .no_address_selected {
        color: rgba(255, 255, 255, 0.1);
        font-weight: 100;
        font-family: monospace;
        font-size: 16pt;
        text-align: center;
        line-height: 42pt;
        margin-top: 200px;
        letter-spacing: 3px;
    }
    
    a.etherscan {
        padding: 1pt 3pt;
        display: inline-block;
        font-size: 10pt;
        font-family: monospace;
        text-decoration: none;
        border-radius: 3px;
        background: $btn-bg-color;
        color: white;
    }
    
    h4,
    h3,
    h2 {
        font-family: sans-serif;
        margin-top: 10px;
        font-weight: 100;
    }
    
    h2.name {
        margin-bottom: $margin;
    }
    
    p {
        font-family: monospace;
        text-wrap: wrap;
        word-wrap: break-word;
    }
    
    p.addr {
        font-size: 10pt;
    }
    
    p.balance {
        font-size: 24pt;
        margin: $margin-half $margin-half $margin;
    }
}

.type_0 {
	color: white;
}

.type_1 {
	color: orange;
}

svg {
    text {
        cursor: pointer;
    }
    
    circle {
        cursor: move;
    }
}

.small_list {
    p {
        font-family: monospace;
        font-size: 8pt;
        cursor: pointer;
        
        .name {
            padding-left: 10px;
            text-transform: uppercase;
        }
        
        .name.addr {
            opacity: 0.5;
        }
        
        .w {
            padding: 0 10px;
            float: right;
        }
    }
    
    p:hover {
        font-weight: bold;
        
        * {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    
    p.type_0 {
        * {
            color: white;
        }
    }
    p.type_1 {
        * {
            color: orange;
        }
    }
}
